<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    .task-button:hover {
        background-color: white;
    }
    .undecorated:hover {
        text-decoration: none;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse" style="margin-bottom: 0px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'create_project' %}">Create project</a></li>
        <li><a href="{% url 'create_task' %}">Create task</a></li>
          <li>


	<div class="navbar-text">
        {% if current_task %}
        <i>
		    Current task: {{ current_task }}
            </i>
                <a  href="{% url 'end_current_session' %}">
                    <span class="glyphicon glyphicon-stop"></span> Stop
                </a>
        {% else %}
		    <i>No current task</i>
        {% endif %}
	</div>
          </li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group input-group">
          <input type="text" class="form-control" placeholder="Search..">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>        
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> My Account</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div style="
	background-color: #d4d4d4;
	height: calc(100vh - 52px);
	width: 300px;
	float: left;
	overflow-y: auto;
">
    {% regroup tasks by project as tasks_by_project %}
    {% for project in tasks_by_project%}
        <div style="
            display: grid;
            grid-template-areas: 'title title title button-group';
            grid-gap: 10px;
            padding: 10px;
        ">
            <div style="grid-area: title"><h3 style="margin: 0px 0px 0px 0px">{{ project.grouper }}</h3></div>
            <div style="grid-area: button-group">
                <a href="{% url 'update_project' project.grouper.id %}" style="float: right; color: grey">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </div>
        </div>
        {% for task in project.list %}
            <a class="undecorated" href="{% url 'start_session' task_id=task.id %}">
                <div class="task-button" style="
                    width: 100%;
                    margin-top: 2px;
                    color: black;
                    padding: 2px 10px 2px 10px;
                ">
                    {{ task }}
                </div>
            </a>
        {% endfor %}
    {% endfor %}
</div>
  
<div style="
	//background-color: blue;
	height: calc(100vh - 52px);
	margin-left: 300px;
	padding: 5px;
">
	<div id="notes_list" style="
		overflow-y: auto;
		height: calc(100vh - 340px);
	">
		<div class="container-fluid">
            {% for note in notes %}
              <div class="row">
                <div class="col-sm-10">
                    {{ note.text|linebreaksbr }}
                </div>
                <div class="col-sm-2 well">
                    Last updated: {{ note.updated_at }}
                </div>
              </div>


                  {% if not forloop.last %}
            <div class="row">
                  <hr/>
                </div>
                  {% endif %}
            {% endfor %}
        </div>
	</div>
	<div style="
		padding-top: 5px;
		overflow-y: hidden;
	">
        {% if current_task %}
            <div class="container-fluid">
                <form action="{% url 'add_note' task_id=current_task.id %}" method="post">
                    {% csrf_token %}
                <div class="form-group" style="
                    margin-bottom: 5px;
                 ">
                    <div class="row">
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="12" id="note" name="note"></textarea>
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        {% endif %}
	</div>
</div>

<script type="text/javascript">
    window.onload=function () {
         var objDiv = document.getElementById("notes_list");
         console.log(objDiv.scrollHeight);
         objDiv.scrollTop = objDiv.scrollHeight;
    }
</script>

</body>
</html>
