<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Messages</a></li>
          <li>


	<div class="navbar-text">
        {% if current_task %}
        <i>
		    Current task: {{ current_task }}
            </i>
                <a  href="{% url 'end_current_session' %}">
                    <span class="glyphicon glyphicon-stop"></span> Stop
                </a>
        {% else %}
		    <i>No current task</i>
        {% endif %}
	</div>
          </li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group input-group">
          <input type="text" class="form-control" placeholder="Search..">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>        
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> My Account</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div style="
	//background-color: red;
	height: calc(100vh - 72px);
	width: 300px;
	float: left;
	overflow-y: auto;
	padding: 5px;
">
	<h2>Tasks</h2>
    {% regroup tasks by project as tasks_by_project %}
    {% for project in tasks_by_project%}
        <h3>{{ project.grouper }}</h3>
        {% for task in project.list %}
            <p><a class="btn btn-default" href="{% url 'start_session' task_id=task.id %}">{{ task }}</a></p>
        {% endfor %}
    {% endfor %}
</div>
  
<div style="
	//background-color: blue;
	height: calc(100vh - 72px);
	margin-left: 300px;
	padding: 5px;
">
	<div style="
		overflow-y: auto;
		height: calc(100vh - 425px);
	">
		<div class="container-fluid">
            {% for note in notes %}
              <div class="row">
                <div class="col-sm-10">
                    {{ note.text|linebreaksbr }}
                </div>
                <div class="col-sm-2 well">
                    Last updated: {{ note.updated_at }}
                </div>
              </div>


                  {% if not forloop.last %}
            <div class="row">
                  <hr/>
                </div>
                  {% endif %}
            {% endfor %}
        </div>
	</div>
	<div style="
		padding-top: 5px;
		overflow-y: hidden;
	">
        {% if current_task %}
            <div class="container-fluid">
                <form action="{% url 'add_note' task_id=current_task.id %}" method="post">
                    {% csrf_token %}
                <div class="form-group" style="
                    margin-bottom: 5px;
                 ">
                    <div class="row">
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="12" id="note" name="note"></textarea>
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        {% endif %}
	</div>
</div>

<!--
<div class="container container-fluid">
  <div class="row">
    <div class="col-sm-3 well">
      <div class="well">
        <p><a href="#">My Profile</a></p>
        <img src="bird.jpg" class="img-circle" height="65" width="65" alt="Avatar">
      </div>
    </div>
    <div class="col-sm-7">

      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default text-left">
            <div class="panel-body">
              <p contenteditable="true">Status: Feeling Blue</p>
              <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-thumbs-up"></span> Like
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>John</p>
           <img src="bird.jpg" class="img-circle" height="55" width="55" alt="Avatar">
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2 well">
      <div class="thumbnail">
        <p>Upcoming Events:</p>
        <img src="paris.jpg" alt="Paris" width="400" height="300">
        <p><strong>Paris</strong></p>
        <p>Fri. 27 November 2015</p>
        <button class="btn btn-primary">Info</button>
      </div>
    </div>
  </div>
</div>
-->

</body>
</html>
